fastapi
uvicorn
python-dotenv
pydantic
langchain
langchain-community
langchain-openai
azure-identity
azure-search-documents
azure-storage-blob
azure-ai-formrecognizer
sqlalchemy
pyodbc
requests
python-multipart
nest_asyncio
langdetect
tiktoken
qdrant-client
msal
langchain_qdrant
redis
azure-cosmos